*, *::after, *::before{
padding: 0;
margin: 0;
box-sizing:border-box ;
}
.e22-2{ 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:3120px;
	position:absolute;
}
.e3_14 { 
	background-color:rgba(3.999999761581421, 81.00002557039261, 218.00000220537186, 0.6600000262260437);
	width:1440px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_15 { 
	background-color:rgba(145.00000655651093, 205.00000298023224, 231.00000143051147, 1);
	width:1441px;
	height:41px;
	position:absolute;
	left:0px;
	top:189px;
}
.e3_17 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:15px;
	position:absolute;
	left:665px;
	top:200px;
	font-family:League Spartan;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_2 { 
	width:404px;
	height:131px;
	position:absolute;
	left:159px;
	top:2172px;
	background-image:url(images/tramontina_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_3 { 
	width:251px;
	height:80px;
	position:absolute;
	left:612px;
	top:2195px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_58 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:20px;
	position:absolute;
	left:325px;
	top:200px;
	font-family:League Spartan;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_59 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:15px;
	position:absolute;
	left:910px;
	top:200px;
	font-family:League Spartan;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e30_93 { 
	width:1294px;
	height:468px;
	position:absolute;
	left:73px;
	top:270px;
	background-image:url(images/distribuidor_ferramentas_manuais_01_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_91 { 
	background-color:rgba(17.43384450674057, 179.82229560613632, 190.18750101327896, 0.5899999737739563);
	width:1294px;
	height:468px;
	position:absolute;
	left:73px;
	top:270px;
}
.e8_60 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:14px;
	position:absolute;
	left:1025px;
	top:200px;
	font-family:League Spartan;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e24_13 { 
	background-color:rgba(89.00000229477882, 140.00000685453415, 231.00000143051147, 0.6600000262260437);
	width:1441px;
	height:436px;
	position:absolute;
	left:0px;
	top:2684px;
}
.e24_14 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:60px;
	position:absolute;
	left:1130px;
	top:2727px;
	font-family:Mitr;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e24_15 { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:35px;
	position:absolute;
	left:1160px;
	top:2805px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e24_16 { 
	width:29px;
	height:28px;
	position:absolute;
	left:1108px;
	top:2809px;
	background-image:url(images/png_transparent_computer_icons_telephone_mobile_phones_symbol_headphones_symbol_miscellaneous_text_mobile_phones_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_17 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:1160px;
	top:2850px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e24_18 { 
	width:36px;
	height:35px;
	position:absolute;
	left:1105px;
	top:2852px;
	background-image:url(images/png_transparent_email_computer_icons_email_miscellaneous_angle_rectangle_thumbnail_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_19 { 
	color:rgba(0, 0, 0, 1);
	width:289px;
	height:50px;
	position:absolute;
	left:487px;
	top:2732px;
	font-family:Mitr;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e24_20 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:50px;
	position:absolute;
	left:466px;
	top:2805px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e24_24 { 
	width:232px;
	height:97px;
	position:absolute;
	left:255px;
	top:2362px;
	background-image:url(images/worker_logo_a84b12c7cc_seeklogo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_30 { 
	width:354px;
	height:179px;
	position:absolute;
	left:928px;
	top:2321px;
	background-image:url(images/rocast_prod_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_31 { 
	width:384px;
	height:198px;
	position:absolute;
	left:513px;
	top:1974px;
	background-image:url(images/6004468a7994b3b41b981965_sata_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_32 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:19px;
	position:absolute;
	left:410px;
	top:200px;
	font-family:League Spartan;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e26_10 { 
	width:445px;
	height:142px;
	position:absolute;
	left:912px;
	top:2166px;
	background-image:url(images/logo02_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e26_11 { 
	width:145px;
	height:137px;
	position:absolute;
	left:635px;
	top:2342px;
	background-image:url(images/cropped_osg_logo_1000_png_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_92 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:32px;
	position:absolute;
	left:546px;
	top:598px;
	font-family:David Libre;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e54_7 { 
	width:201px;
	height:142px;
	position:absolute;
	left:620px;
	top:23px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e54_9 { 
	width:347px;
	height:246px;
	position:absolute;
	left:550px;
	top:341px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e54_11 { 
	width:188px;
	height:133px;
	position:absolute;
	left:65px;
	top:2754px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
